
figure{
    height:250px;
    overflow: hidden;
    position: relative;
}

img{
    width:100%;
    height:100%;
    object-fit:cover;
}

figcaption{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(255,255,255,0.6);

    padding: 15px;
    opacity:0;
}

figure:hover figcaption{
    opacity:1;
}

